<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- 전체를 감싸는 박스 -->
  <div class="content-container">

    <!-- 상단 타이틀 박스 -->
    <div class="title-wrapper">
      <span class="pink-font">Memo</span>
      <span>Storage</span>

    </div>

    <!-- 메모 목록 박스 -->
    <div class="memo-item-wrapper">
      <span class="memo-title">메모 제목입니다</span>
      <span class="memo-content">메모 내용입니다</span>
    </div>

  </div>
</ion-content>
